# Association Rule Mining

## Background

The marketing department of a financial firm keeps records on customers, including demographic information and the type of accounts. A new product, ["Personal Equity Plan" (PEP)](https://www.investopedia.com/terms/p/pep.asp), was launched and advertised by mail to the firm's existing customers, and a record was kept as to whether that customer responded and bought the product. To better understand their customer base, the managers decided to use data mining techniques to build customer profiles based on the data the firm already has.

## Mini-Project Task

Apply an association rule mining algorithm to discover patterns in customer behavior (you should aim to get at least 20-30 strong rules after experimenting with the algorithm's parameters).

In addition, select the five most "interesting" rules and briefly write for each:
- an explanation of the pattern and why you believe it is interesting based on the business objectives of the company;
- any recommendations based on the discovered rule that might help the company to better understand behavior of its customers or in its marketing campaign.

These are not necessarily the top five rules you'd get from the association rules algorithm. In addition to having high support, lift and confidence, they should be rules that provide non-trivial, actionable knowledge for the given business scenario.

## Dataset Description

| Column       | Description                                                                       |
| ------------ | --------------------------------------------------------------------------------- |
| id           | a unique identification number                                                    |
| age          | age of customer in years (numeric)                                                |
| sex          | MALE / FEMALE                                                                     |
| region       | inner_city/rural/suburban/town                                                    |
| income       | income of customer (numeric)                                                      |
| married      | is the customer married (YES/NO)                                                  |
| children     | number of children (numeric)                                                      |
| car          | does the customer own a car (YES/NO)                                              |
| save_acct    | does the customer have a saving account (YES/NO)                                  |
| current_acct | does the customer have a current account (YES/NO)                                 |
| mortgage     | does the customer have a mortgage (YES/NO)                                        |
| pep          | did the customer buy a PEP (Personal Equity Plan) after the last mailing (YES/NO) |


**Acknowledgment**: The dataset and description is attributed to Prof. Bamshad Mobasher.

**Note**: the data URL is https://raw.githubusercontent.com/GUC-DM/W2020/main/data/bank_data.csv

## Importing Libraries \& Dataset

In [75]:
# Execute this cell and restart the kernel to install the package needed for association rule mining
!pip install mlxtend --upgrade

Requirement already up-to-date: mlxtend in /usr/local/lib/python3.6/dist-packages (0.18.0)
Requirement already satisfied, skipping upgrade: pandas>=0.24.2 in /usr/local/lib/python3.6/dist-packages (from mlxtend) (1.1.5)
Requirement already satisfied, skipping upgrade: setuptools in /usr/local/lib/python3.6/dist-packages (from mlxtend) (51.1.1)
Requirement already satisfied, skipping upgrade: joblib>=0.13.2 in /usr/local/lib/python3.6/dist-packages (from mlxtend) (1.0.0)
Requirement already satisfied, skipping upgrade: scipy>=1.2.1 in /usr/local/lib/python3.6/dist-packages (from mlxtend) (1.4.1)
Requirement already satisfied, skipping upgrade: matplotlib>=3.0.0 in /usr/local/lib/python3.6/dist-packages (from mlxtend) (3.2.2)
Requirement already satisfied, skipping upgrade: scikit-learn>=0.20.3 in /usr/local/lib/python3.6/dist-packages (from mlxtend) (0.22.2.post1)
Requirement already satisfied, skipping upgrade: numpy>=1.16.2 in /usr/local/lib/python3.6/dist-packages (from mlxtend) (1.19.5)
Requirement already satisfied, skipping upgrade: pytz>=2017.2 in /usr/local/lib/python3.6/dist-packages (from pandas>=0.24.2->mlxtend) (2018.9)
Requirement already satisfied, skipping upgrade: python-dateutil>=2.7.3 in /usr/local/lib/python3.6/dist-packages (from pandas>=0.24.2->mlxtend) (2.8.1)
Requirement already satisfied, skipping upgrade: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in /usr/local/lib/python3.6/dist-packages (from matplotlib>=3.0.0->mlxtend) (2.4.7)
Requirement already satisfied, skipping upgrade: cycler>=0.10 in /usr/local/lib/python3.6/dist-packages (from matplotlib>=3.0.0->mlxtend) (0.10.0)
Requirement already satisfied, skipping upgrade: kiwisolver>=1.0.1 in /usr/local/lib/python3.6/dist-packages (from matplotlib>=3.0.0->mlxtend) (1.3.1)
Requirement already satisfied, skipping upgrade: six>=1.5 in /usr/local/lib/python3.6/dist-packages (from python-dateutil>=2.7.3->pandas>=0.24.2->mlxtend) (1.15.0)

## Importing Libraries \& Dataset

In [76]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns


%matplotlib inline
plt.style.use("seaborn")

try:
    df = pd.read_csv('bank_data.csv')
except:
    df = pd.read_csv('https://raw.githubusercontent.com/GUC-DM/W2020/main/data/bank_data.csv')
df.head()

        id  age     sex      region  ...  save_act current_act  mortgage  pep
0  ID12101   48  FEMALE  INNER_CITY  ...        NO          NO        NO  YES
1  ID12102   40    MALE        TOWN  ...        NO         YES       YES   NO
2  ID12103   51  FEMALE  INNER_CITY  ...       YES         YES        NO   NO
3  ID12104   23  FEMALE        TOWN  ...        NO         YES        NO   NO
4  ID12105   57  FEMALE       RURAL  ...       YES          NO        NO   NO

[5 rows x 12 columns]

In [62]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 600 entries, 0 to 599
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   id           600 non-null    object
 1   age          600 non-null    int64
 2   sex          600 non-null    object
 3   region       600 non-null    object
 4   income       600 non-null    float64
 5   married      600 non-null    object
 6   children     600 non-null    int64
 7   car          600 non-null    object
 8   save_act     600 non-null    object
 9   current_act  600 non-null    object
 10  mortgage     600 non-null    object
 11  pep          600 non-null    object
dtypes: float64(1), int64(2), object(9)
memory usage: 56.4+ KB

## Data Preperation

In [77]:
#Make a copy of the dataframe
dfcopy= df.copy();

#Change the binary values from Yes/No to 1/0
dfcopy.married.replace(('YES', 'NO'), (1, 0), inplace=True)
dfcopy.car.replace(('YES', 'NO'), (1, 0), inplace=True)
dfcopy.save_act.replace(('YES', 'NO'), (1, 0), inplace=True)
dfcopy.current_act.replace(('YES', 'NO'), (1, 0), inplace=True)
dfcopy.mortgage.replace(('YES', 'NO'), (1, 0), inplace=True)
dfcopy.pep.replace(('YES', 'NO'), (1, 0), inplace=True)
dfcopy.head()

        id  age     sex      region  ...  save_act  current_act  mortgage  pep
0  ID12101   48  FEMALE  INNER_CITY  ...         0            0         0    1
1  ID12102   40    MALE        TOWN  ...         0            1         1    0
2  ID12103   51  FEMALE  INNER_CITY  ...         1            1         0    0
3  ID12104   23  FEMALE        TOWN  ...         0            1         0    0
4  ID12105   57  FEMALE       RURAL  ...         1            0         0    0

[5 rows x 12 columns]

## Binning

In [78]:
#We add new coulmn to the datafram to insert in the income label
dfcopy["incomeLevel"] = np.nan

#Binning the income into 3 bins
pd.qcut(dfcopy['income'], q=3)
pd.qcut(dfcopy['income'], q=3).value_counts()


#Labelling the income bins into Low. Medium  and High
labelsofIncome = ['Low',"Medium", "High"]
dfcopy['incomeLevel'] = pd.qcut(dfcopy['income'], q=3, labels= labelsofIncome)
dfcopy.head()

#Binng the age into 5 bins
ageBins=[15,26,37,48,59,69]
labelsofAge= ['15-25','26-36','37-47','48-58', '59-69']
dfcopy['age']=pd.cut(dfcopy['age'], bins= ageBins,labels= labelsofAge)

dfcopy.head()

        id    age     sex      region  ...  current_act  mortgage  pep  incomeLevel
0  ID12101  37-47  FEMALE  INNER_CITY  ...            0         0    1          Low
1  ID12102  37-47    MALE        TOWN  ...            1         1    0       Medium
2  ID12103  48-58  FEMALE  INNER_CITY  ...            1         0    0          Low
3  ID12104  15-25  FEMALE        TOWN  ...            1         0    0       Medium
4  ID12105  48-58  FEMALE       RURAL  ...            0         0    0         High

[5 rows x 13 columns]

## Modelling

In [49]:
#Taking part of the table to apply the rule mining
df_copy = dfcopy.loc[:,'married': 'pep']
df_copy=df_copy.drop(columns="children")
df_copy.head()

   married  car  save_act  current_act  mortgage  pep
0        0    0         0            0         0    1
1        1    1         0            1         1    0
2        1    1         1            1         0    0
3        1    0         0            1         0    0
4        1    0         1            0         0    0

In [90]:
from mlxtend.frequent_patterns import fpgrowth, association_rules

freq_items = fpgrowth(df_copy, min_support=0.005, use_colnames=True)
freq_items.sort_values('support', ascending=True)

     support                                           itemsets
61  0.023333  (pep, save_act, current_act, car, married, mor...
60  0.030000        (pep, save_act, current_act, car, mortgage)
59  0.031667            (pep, save_act, car, married, mortgage)
57  0.040000                     (save_act, pep, car, mortgage)
54  0.041667    (pep, save_act, current_act, married, mortgage)
..       ...                                                ...
3   0.493333                                              (car)
62  0.531667                            (save_act, current_act)
2   0.660000                                          (married)
5   0.690000                                         (save_act)
1   0.758333                                      (current_act)

[63 rows x 2 columns]

In [96]:
association_rules(freq_items, metric='confidence', min_threshold=0.73).sort_values('confidence', ascending= True)

                                    antecedents  ... conviction
6                           (married, car, pep)  ...   0.897619
4                                    (car, pep)  ...   0.901351
11                               (married, car)  ...   0.901603
7                 (save_act, married, car, pep)  ...   0.902222
16                                   (mortgage)  ...   0.918333
27      (pep, save_act, car, married, mortgage)  ...   0.918333
20                              (mortgage, pep)  ...   0.926389
8                                     (married)  ...   0.929126
12                               (married, car)  ...   1.202800
19                         (save_act, mortgage)  ...   0.940541
13                     (save_act, married, car)  ...   0.940541
10                                        (car)  ...   0.941228
9                           (save_act, married)  ...   0.942840
21                    (save_act, mortgage, pep)  ...   1.333846
3                      (save_act, married, pep)  ...   0.948077
5                          (save_act, car, pep)  ...   0.956159
25               (save_act, mortgage, car, pep)  ...   0.966667
2                                (married, pep)  ...   0.979386
14                  (current_act, married, car)  ...   1.257714
17                              (car, mortgage)  ...   0.986000
18                    (save_act, car, mortgage)  ...   1.027083
15                              (save_act, car)  ...   1.030782
0                                         (pep)  ...   1.051058
28                                   (save_act)  ...   1.053158
26  (pep, save_act, current_act, car, mortgage)  ...   1.530000
22                         (mortgage, car, pep)  ...   1.087500
23                (mortgage, married, car, pep)  ...   1.104762
1                               (save_act, pep)  ...   1.109188
24               (save_act, mortgage, car, pep)  ...   1.632000

[29 rows x 9 columns]

## Conclusion

Few interesting Assoicate mining rules:

*   if a person has a saving account, they are likey to have a current account (77% confidence)

*   if a person has a saving account AND PEP, they are likely to have a current account (78% confidence)

*   if a person has mortgage, they are likely to have a current account (73.6% confidence)


*   if a person is married they are likely to have a current account (73.9% confidence)
*   if a person has a car they are likely to have a current account (74% confidence)


*   if a person has a PEP they are likely to have a current account (77% confidence)


* 





Recomendations:


*   people who are married and has a car are best paired with a current account

*   people who have a saving account and has a car are best paired with a current account


*    people who are married and have mortgage are best paired with a current account 
*   people who have a car, are married and have a current account are best paired with a saving account

*   people who have mortgage AND are married AND have a car AND  PEP  are best paired with a current account